/*
Author: Matt Pahuta
https://www.mattpahuta.com
Date: January 2024
*/
:root {
  --ff-primary: 'Inter', sans-serif;
  --fs-300: 0.875rem;
  --fs-400: 1rem;
  --fs-500: 1.125rem;
  --fs-600: 1.875rem;
  --fs-700: 2.5rem;
  /* Font Weights */
  --fw-400: 400;
  --fw-600: 600;
  --fw-700: 700;
  /* Colors */
  --clr-white: hsl(0, 0%, 100%);
  --clr-soft-white: hsl(0, 0%, 96%);
  --clr-light-gray: hsl(254, 6%, 58%);
  --clr-gunmetal: hsla(212, 21%, 14%, 1);
  --clr-near-black: hsl(250, 18%, 19%);
  --clr-red: hsl(0, 89%, 66%);
  /* page background */
  --bg-primary-light: hsla(28, 38%, 92%, 1);
  /* box-shadow  */
  --box-shadow-primary: 0 0 0.5rem rgba(0, 0, 0, 0.35);
  /* backgrounds */
  /* Border Radius */
  --br-extra-soft: 6px;
}

/* RESET */
/* Josh Comeau custom css reset */
/* https://www.joshwcomeau.com/css/custom-css-reset/ */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

/* Base Styles */

body {
  min-height: 100vh;
  font-family: var(--ff-primary);
  font-size: var(--fs-400);
  color: var(--clr-near-black);
  background: var(--bg-primary-light);
}

/* Header Styles */
.header {
  padding: 1.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background: var(--clr-red);
  color: var(--clr-white);
}

.header-logo {
  width: 50px;
}

.title {
  font-size: var(--fs-600);
  font-weight: var(--fw-600);
  color: var(--clr-white);
}

.main {
  display: flex;
  justify-content: center;
}

/* Card Styles */
.travel-cards {
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card {
  max-width: 500px;
  display: grid;
  border-radius: var(--br-extra-soft);
  overflow: hidden;
  color: var(--clr-gunmetal);
  background: var(--clr-white);
  box-shadow: var(--box-shadow-primary);
}

.card-image {
  height: 100%;
  object-fit: cover;
}

.card-content {
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.local-container {
  display: flex;
  align-items: center;
}

.location-pin {
  max-width: 1rem;
  margin-right: 4px;
}

.location-name {
  margin-right: 12px;
  font-size: var(--fs-300);
  text-transform: uppercase;
  letter-spacing: 1.75px;
}

.location-link {
  font-size: var(--fs-300);
  color: var(--clr-light-gray);
}

.card-title {
  font-size: var(--fs-700);
  font-weight: var(--fw-600);
  line-height: 1.1;
}

.card-datestamp {
  font-size: var(--fs-300);
  font-weight: var(--fw-600);
  color: var(--clr-near-black);
}

@media (min-width: 768px) {
  .card {
    max-width: 800px;
    grid-template-columns: 30% 1fr;

  }
}
