/*
Author: Matt Pahuta
https://www.mattpahuta.com
Date: January 2024
*/
:root {
  --ff-primary: 'Inter', sans-serif;
  --fs-300: 0.875rem;
  --fs-400: 1rem;
  --fs-500: 1.125rem;
  --fs-600: 1.875rem;
  --fs-700: 2.5rem;
  /* Font Weights */
  --fw-400: 400;
  --fw-600: 600;
  --fw-700: 700;
  /* Colors */
  --clr-white: hsl(0, 0%, 100%);
  --clr-gray: hsl(228, 2%, 50%);
  --clr-midnight-green: hsl(183, 53%, 14%);
  --clr-near-black: hsl(213, 22%, 8%); 
  --clr-red: #A52422;
  /* page background */
  --bg-primary-light: hsl(240, 4%, 95%);
  /* box-shadow  */
  --box-shadow-primary: 0 0 0.5rem rgba(0, 0, 0, 0.35);
  /* Border Radius */
  --br-extra-soft: 6px;
}

/* RESET */
/* Josh Comeau custom css reset */
/* https://www.joshwcomeau.com/css/custom-css-reset/ */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

/* Base Styles */
body {
  min-height: 100vh;
  font-family: var(--ff-primary);
  font-size: var(--fs-400);
  color: var(--clr-near-black);
  background: var(--bg-primary-light);
}

.header,
.footer {
  padding: 1.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background: var(--clr-red);
  color: var(--clr-white);
}

.footer {
  font-size: var(--fs-300);
}

.header-logo {
  width: 50px;
}

.title {
  font-size: var(--fs-600);
  font-weight: var(--fw-600);
  color: var(--clr-white);
}

.main {
  display: flex;
  justify-content: center;
}

/* Card Styles */
.travel-cards {
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card {
  max-width: 500px;
  display: grid;
  border-radius: var(--br-extra-soft);
  overflow: hidden;
  color: var(--clr-midnight-green);
  background: var(--clr-white);
  box-shadow: var(--box-shadow-primary);
}

@media (min-width: 768px) {
  .card {
    max-width: 920px;
    grid-template-columns: 30% 1fr;
  }
}

.card-image {
  height: 100%;
  object-fit: cover;
}

.card-content {
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.local-container {
  display: flex;
  align-items: center;
}

.location-pin {
  max-width: 1rem;
  margin-right: 4px;
}

.location-name,
.location-link,
.card-datestamp {
  font-size: var(--fs-300);
}

.location-name {
  margin-right: 12px;
  text-transform: uppercase;
  letter-spacing: 1.75px;
  color: var(--clr-near-black);
}

.location-link {
  color: var(--clr-gray);
}

.card-title {
  font-size: var(--fs-700);
  font-weight: var(--fw-600);
  line-height: 1.1;
}

.card-datestamp {
  font-weight: var(--fw-600);
  color: var(--clr-near-black);
}